body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: rgb(11, 11, 43);
}

.footer, .nav {
    background-color: rgb(11, 11, 43);
    color: orange;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 20%;
    flex-wrap: wrap;
    gap: 0 2em;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    padding: 1em 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 1em;
  font-size: 18px;
  padding: 0;
  margin-left: auto;
  font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2em 20%;
    gap: 15px 45px;
    background-color: orange;
}

.banner .container {
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: max-content;
}

.banner .title {
    font-size: 48px;
    font-weight: bolder;
}

.banner .text {
    font-size: 18px;
}

.banner button {
    background-color: rgb(11, 11, 43);
    border-radius: 10px;
    width: fit-content;
    padding: 0.5em 2em;
    font-size: 18px;
    color: white;
    font-weight: 900;
    border: none;
    margin: auto;
}

.banner .image {
    border-radius: 20px;
    border: 3px solid white;
    object-fit: cover;
    width: 100%;
    max-width: 450px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 2em;
    padding: 2em 20%;
}

.cards .title {
    font-size: 36px;
    font-weight: 900; 
    flex: 0 100%;
}

.cards .card {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 0.5em;
}

.cards .image {
    width: 150px;
    height: 150px;
    border: 3px solid orange;
    border-radius: 20px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    padding: 2em 30%;
}

.quote .author {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 900;
    margin-top: 1em;
    text-align: end;
}

.quote span {
    color: gray;
}

.marketing {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:1.5em;
    margin: 3em 20%;
    background-color: rgb(11, 11, 43);
    border-radius: 10px;
    color: #faf9f8;
    padding: 2em;
}

.marketing .title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0.4em;
}

.marketing .text span {
    font-weight: bold;
    font-size: larger;
}

.marketing button {
    flex: none;
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 0.5em 2em;
    font-size: 18px;
    font-weight: 900;
    min-width: fit-content;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    padding: 0 20%;
    text-align: center;
    color: white;
}